/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

 // Q6's plank keymap

// header
#include <behaviors.dtsi>  // for &kp, &mo, &trans, &none, &bootloader ....
#include <dt-bindings/zmk/keys.h>  // for keycodes (A, B, C, ..., ESC, TAB, ...)
#include <dt-bindings/zmk/bt.h>  // for BT_SEL and BT_CLR
#include <dt-bindings/zmk/outputs.h>  // for usb outputs or bluetooth outputs
#include <dt-bindings/zmk/pointing.h>  // for mouse keys
#include <dt-bindings/zmk/mouse.h>  // mouse key

// layers
#define ARR_L 1
#define NUM_L 2
#define SYM_L 3
#define MAC_L 4
#define HAN_L 5
#define BLT_L 6
#define CON_L 7
#define ONE_L 8
#define FUN_L 9
#define LNM_L 10

// lt config
&lt { 
    quick_tap_ms = <200>;
    flavor = "hold-preferred";
    };

// soft off config
&soft_off {hold-time-ms = <1000>; };

// keymap
/ {
    chosen {
        zmk,physical-layout = &layout_ortho_4x12_all1u;
        };
    
    // tap dance term
    tap_dances {
    	rshifty: shift_caps_word {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp RSHFT>, <&caps_word>;
	    };
    };

    // conditional layer
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <2 3>;
            then-layer = <7>;
        };
    };

    // macros
    macros {
        lg_m: lg_m {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&macro_tap &kp LANG1>
                , <&macro_param_1to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                , <&macro_tap &kp LANG1>
                ;
        };

        win_off: win_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&macro_press   &kp LWIN>
                , <&macro_tap     &kp X>
                , <&macro_release &kp LWIN>
                , <&macro_tap     &kp U &kp U>
                ;
        };

        siql: siql {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&macro_tap     &kp S &kp I &kp Q &kp L &kp N4 &kp N2 &kp N9 &kp N6>
                ;
        };
    };

    // keymap
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
&kp ESC        &kp Q             &kp W      &kp E       &kp R          &kp T          &kp Y            &kp U          &kp I       &kp O        &kp P         &kp DEL
&lt ARR_L TAB  &kp A             &kp S      &kp D       &kp F          &kp G          &kp H            &kp J          &kp K       &kp L        &kp BSPC      &kp ENTER
&kp LSHFT      &kp Z             &kp X      &kp C       &kp V          &mo SYM_L      &kp B            &kp N          &kp M       &mo BLT_L    &lt 5 LANG1   &rshifty
&mo MAC_L      &kp LS(LC(LALT))  &kp LALT   &kp LWIN    &kp LCTRL      &kp SPACE      &mo ONE_L        &mo NUM_L      &kp RCTRL   &kp RWIN     &kp RALT      &out OUT_TOG
            >;
        };

        arr_layer {
            display-name = "Arrow";
            bindings = <
&kp CAPS    &kp PG_UP    &kp LS(LEFT)    &kp UP        &kp LS(RIGHT)    &kp DEL      &msc SCRL_UP      &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &mkp MB5   &kp SCROLLLOCK
&none       &kp PG_DN    &kp LEFT        &kp DOWN      &kp RIGHT        &kp BSPC     &msc SCRL_DOWN    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB4   &kp ENTER
&kp LSHFT   &kp HOME     &msc SCRL_LEFT  &kp END       &msc SCRL_RIGHT  &kp ENTER    &kp INS           &msc SCRL_LEFT  &mkp MCLK       &msc SCRL_RIGHT  &kp LANG2  &kp K_APP
&kp PSCRN   &sk LWIN     &sk LALT        &sk LCTRL     &mo ONE_L        &kp SPACE    &kp SPACE         &trans          &trans          &trans           &trans     &kp LC(I)
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
&kp TAB     &kp N1      &kp N2    &kp N3    &kp N4     &kp N5      &kp N6       &kp N7     &kp N8      &kp N9       &kp N0        &kp KP_EQUAL
&kp F7      &kp F8      &kp F9    &kp F10   &kp F11    &kp F12     &kp KP_NUM   &kp N4     &kp N5      &kp N6       &kp BSPC      &kp KP_ENTER
&kp F1      &kp F2      &kp F3    &kp F4    &kp F5     &kp F6      &kp COMMA    &kp N1     &kp N2      &kp N3       &kp KP_PLUS   &kp KP_MULTIPLY
&kp LSHFT   &kp LCTRL   &kp LALT  &kp LWIN  &mo FUN_L  &kp SPACE   &kp SPACE    &none      &kp N0      &kp KP_DOT   &kp KP_MINUS  &kp KP_DIVIDE
            >;
        };

        sym_layer {
            display-name = "Sym";
            bindings = <
&kp GRAVE  &kp EXCL   &kp AT     &kp HASH   &kp DOLLAR   &kp PERCENT  &kp CARET    &kp AMPS   &kp ASTRK   &kp LPAR    &kp RPAR   &kp UNDER
&kp TILDE  &kp LBKT   &kp RBKT   &kp LBRC   &kp RBRC     &trans       &trans       &kp LT     &kp GT      &kp QMARK   &kp SEMI   &kp SQT
&kp EQUAL  &kp PLUS   &kp MINUS  &kp BSLH   &kp PIPE     &none        &trans       &kp COMMA  &kp DOT     &kp SLASH   &kp COLON  &kp DQT
&kp LSHFT  &trans     &trans     &trans     &trans       &trans       &trans       &trans     &kp RCTRL   &kp RGUI    &kp RALT   &kp RSHFT
            >;
        };

        macro_layer {
            display-name = "Macro";
            bindings = <
&kp RS(F19)    &kp RS(F20)    &kp RS(F21)    &kp RS(F22)    &kp RS(F23)    &kp RS(F24)    &trans      &kp C_BRI_DN      &kp C_BRI_UP      &kp C_VOLUME_DOWN      &kp C_VOLUME_UP      &kp C_MUTE
&kp RC(F19)    &kp RC(F20)    &kp RC(F21)    &kp RC(F22)    &kp RC(F23)    &kp RC(F24)    &trans      &kp C_PREV        &kp C_PP          &kp C_RW               &trans               &trans
&kp RC(F13)    &kp RC(F14)    &kp RC(F15)    &kp RC(F16)    &kp RC(F17)    &kp RC(F18)    &trans      &trans      &trans      &trans      &trans      &trans
&trans         &trans         &trans         &trans         &mo LNM_L      &trans         &trans      &trans      &trans      &trans      &trans      &trans
            >;
        };

        hangul_layer {
            display-name = "Hangul";
            bindings = <
&trans    &lg_m Q    &lg_m W    &lg_m E    &lg_m R    &lg_m T    &lg_m Y    &lg_m U    &lg_m I    &lg_m O    &lg_m P    &trans
&trans    &lg_m A    &lg_m S    &lg_m D    &lg_m F    &lg_m G    &lg_m H    &lg_m J    &lg_m K    &lg_m L    &trans     &trans
&trans    &lg_m Z    &lg_m X    &lg_m C    &lg_m V    &trans     &lg_m B    &lg_m N    &lg_m M    &kp CAPS   &none      &trans
&trans    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
            >;
        };

        bluetooth_layer {
            display-name = "bluetooth";
            bindings = <
&none          &out OUT_BLE    &out OUT_USB     &bt BT_PRV      &bt BT_NXT      &trans          &trans      &trans      &trans      &trans      &trans      &trans
&out OUT_TOG   &bt BT_SEL 0    &bt BT_SEL 1     &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &trans      &trans      &trans      &trans      &trans      &trans
&bt BT_CLR     &trans          &trans           &trans          &trans          &trans          &trans      &trans      &trans      &none       &trans      &trans
&trans         &trans          &trans           &trans          &trans          &trans          &trans      &trans      &trans      &trans      &trans      &trans
            >;
        };

        conditional_layer {
            display-name = "conditional";
            bindings = <
&win_off  &soft_off     &kp C_PREV    &kp C_STOP    &kp C_PP      &kp C_NEXT  &trans    &kp C_BRI_DN  &kp C_BRI_UP  &kp C_MUTE   &kp C_VOL_DN   &kp C_VOL_UP
&trans    &trans        &trans        &trans        &trans        &trans      &trans    &trans        &trans        &trans       &trans         &trans
&trans    &trans        &trans        &trans        &trans        &trans      &trans    &trans        &trans        &trans       &trans         &trans
&trans    &trans        &trans        &trans        &trans        &trans      &trans    &trans        &trans        &trans       &trans         &trans
            >;
        };

        onehand_layer {
            display-name = "Onehand";
            bindings = <
&trans       &kp P      &kp O      &kp I      &kp U      &kp Y      &trans        &trans        &trans       &trans      &trans        &trans
&trans       &kp BSPC   &kp L      &kp K      &kp J      &kp H      &trans        &trans        &trans       &trans      &trans        &trans
&trans       &kp LANG1  &kp M      &kp N      &kp B      &trans     &trans        &trans        &trans       &trans      &trans        &trans
&trans       &trans     &trans     &trans     &none      &trans     &none         &trans        &trans       &trans      &trans        &trans
            >;
        };

        function_layer {
            display-name = "function";
            bindings = <
&trans      &kp KP_N1    &kp KP_N2   &kp KP_N3   &kp KP_N4   &kp KP_N5    &kp KP_N6    &kp KP_N7  &kp KP_N8   &kp KP_N9    &kp KP_N0   &trans
&kp F19     &kp F20      &kp F21     &kp F22     &kp F23     &kp F24      &trans       &kp KP_N4  &kp KP_N5   &kp KP_N6    &trans      &trans
&kp F13     &kp F14      &kp F15     &kp F16     &kp F17     &kp F18      &trans       &kp KP_N1  &kp KP_N2   &kp KP_N3    &trans      &kp RSHFT
&kp LSHFT   &kp LCTRL    &kp LALT    &kp LWIN    &mo FUN_L   &kp SPACE    &kp SPACE    &none      &kp KP_N0   &kp RWIN     &kp RALT    &kp RCTRL
            >;
        };

        leftnumber_layer {
            display-name = "leftnumber";
            bindings = <
&mt LT LPAR    &mt GT RPAR      &kp N7         &kp N8    &kp N9    &kp DEL     &trans        &trans        &trans       &trans      &trans        &trans
&mt DQT SQT    &mt COLON SEMI   &kp N4         &kp N5    &kp N6    &kp BSPC    &trans        &trans        &trans       &trans      &trans        &trans
&mt STAR UNDER &mt SLASH QMARK  &kp N1         &kp N2    &kp N3    &kp ENTER   &trans        &trans        &trans       &trans      &trans        &trans
&trans         &trans           &mt COMMA DOT  &kp N0    &none     &kp trans   &trans        &trans        &trans       &trans      &trans        &trans
    };
};
