/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

 // Q6's plank keymap

// header
#include <behaviors.dtsi>  // for &kp, &mo, &trans, &none, &bootloader ....
#include <dt-bindings/zmk/keys.h>  // for keycodes (A, B, C, ..., ESC, TAB, ...)
#include <dt-bindings/zmk/bt.h>  // for BT_SEL and BT_CLR
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>  // mouse key

// layers
#define ARR_L 1
#define CMD_L 2
#define NUM_L 3
#define SYM_L 4
#define MAC_L 5
#define HAN_L 6
#define ONE_L 7

// lt config
&lt { quick_tap_ms = <200>; };

// keymap
/ {
    chosen {zmk,matrix_transform = &ortho_transform;};
    
    // tap dance term
    tap_dances {
    	shifty: shift_caps_word {
		compatible = "zmk,behavior-tap-dance";
		#binding-cells = <0>;
		tapping-term-ms = <150>;
		bindings = <&kp LSHFT>, <&caps_word>;
	};
    };

    // macros
    macros {
        center_dot: center_dot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N4 &kp KP_N9>
                , <&macro_release &kp LALT>
                ;
        };

        triple_dot: triple_dot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N3 &kp KP_N3>
                , <&macro_release &kp LALT>
                ;
        };

        lg_m: lg_m {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&macro_tap &kp LANG1>
                , <&macro_param_2to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                , <&macro_tap &kp LANG1>
                ;
        };
    };

    // keymap
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
 &kp ESC    &kp Q      &kp W      &kp E       &kp R          &kp T          &kp Y            &kp U          &kp I       &kp O      &kp P         &kp DEL
 &mo ARR_L  &kp A      &kp S      &kp D       &kp F          &kp G          &kp H            &kp J          &kp K       &kp L      &kp BSPC      &kp ENTER
 &kp LSHFT  &kp Z      &kp X      &kp C       &kp V          &mo MAC_L      &kp B            &kp N          &kp M       &kp K_APP  &LANG1        &kp RSHIFT
 &kp LCTRL  &mo GLOBE  &kp LWIN   &kp LALT    &mo NAV_L      &kp SPACE      &kp RET          &mo NUM_L      &kp RALT    &kp RWIN   &kp RCTRL     &mo ONE_L
            >;
        };

        arr_layer {
            display-name = "Arrow";
            bindings = <
&kp TAB     &kp PG_UP    &kp LS(LEFT)    &kp UP        &kp LS(RIGHT)   &kp DEL      &trans      &kp N7         &kp N8      &kp N9     &kp DEL              &trans
&trans      &kp PG_DN    &kp LEFT        &kp DOWN      &kp RIGHT       &kp BSpC     &trans      &kp N4         &kp N5      &kp N6     &trans               &trans
&trans      &kp PSCRN    &kp HOME        &mkp MB4      &kp END         &mkp MB5     &INS        &kp N1         &kp N2      &kp N3     &kp LC(LG(SPACE))    &trans
&trans      &trans       &kp LWIN        &kp LALT      &kp LCTRL       &kp SPACE    &trans      &trans         &kp N0      &trans     &trans               &trans
            >;
        };

        cmd_layer {
            display-name = "cmd";
            bindings = <
&kp CAPS   &kp LALT(F4)   &kp LC(W)    &kp LC(E)   &kp LC(R)    &kp LC(T)       &trans     &trans    &LA(8)          &trans       &trans      &trans
&kp TAB    &kp LC(A)      &kp LC(S)    &kp LC(D)   &kp LC(F)    &kp PSCRN       &trans     &trans    &trans          &LA(SEMI)    &trans      &trans
&trans     &kp LC(Z)      &kp LC(X)    &kp LC(C)   &kp LC(V)    &kp LC(LS(V))   &trans     &trans    &kp LG(KP_DOT)  &trans       &kp LANG2   &trans
&trans     &trans         &trans       &trans      &trans       &trans          &trans     &trans    &trans          &trans       &trans      &trans
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
&kp KP_NUM  &kp N1      &kp N2    &kp N3    &kp N4    &kp N5       &kp N6       &kp KP_N7  &kp KP_N8   &kp KP_N9    &kp N0        &kp KP_EQUAL
&trans      &kp F1      &kp F2    &kp F3    &kp F4    &kp F5       &kp F6       &kp KP_N4  &kp KP_N5   &kp KP_N6    &kp BSPC      &kp KP_EMTER
&trans      &kp F7      &kp F8    &kp F9    &kp F10   &kp F11      &kp F12      &kp KP_N1  &kp KP_N2   &kp KP_N3    &kp KP_PLUS   &kp KP_MULTIPLY
&trans      &trans      &trans    &trans    &trans    &kp SPACE    &kp SPACE    &trans     &kp KP_N0   &kp KP_DOT   &kp KP_MINUS  &kp KP_DIVIDE
            >;
        };

        sym_layer {
            display-name = "Sym";
            bindings = <
&kp GRAVE  &kp EXCL   &kp AT     &kp HASH   &kp DOLLAR   &kp PERCENT  &kp CARET    &kp AMPS   &kp STAR    &kp LPAR    &kp RPAR   &bootloader
&kp TILDE  &kp LBKT   &kp RBKT   &kp LBRC   &kp RBRC     &center_dot  &triple_dot  &kp LT     &kp GT      &kp QMARK   &kp SEMI   &kp SQT
&kp EQUAL  &kp PLUS   &kp MINUS  &kp STAR   &kp SLASH    &kp PIPE     &kp BSLH     &kp COMMA  &kp DOT     &kp SLASH   &kp COLON  &kp DQT
&trans     &trans     &trans     &trans     &trans       &trans       &trans       &trans     &trans      &trans      &trans     &trans
            >;
        };

        macro_layer {
            display-name = "Macro";
            bindings = <
&bt BT_CLR      &bt BT_CLR_ALL   &bt BT_PRV      &bt BT_NXT      &trans          &trans    &trans    &trans       &trans       &kp C_MUTE   &kp C_VOL_DN   &kp C_VOL_UP
&bt BT_DISC 0   &bt BT_DISC 1    &bt BT_DISC 2   &bt BT_DISC 3   &bt BT_DISC 4   &trans    &trans    &trans       &trans       &trans       &kp C_BRI_DN   &kp C_BRI_UP
&bt BT_SEL 0    &bt BT_SEL 1     &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &trans    &trans    &kp C_STOP   &kp C_PAUSE  &kp C_PP     &kp C_RW       &kp C_FF
&trans          &trans           &trans          &trans          &trans          &trans    &trans    &trans       &trans       &trans       &kp C_PREV     &kp C_NEXT
            >;
        };

        hangul_layer {
            display-name = "hangul";
            bindings = <
&trans    &lg_m Q    &lg_m W    &lg_m E    &lg_m R    &lg_m T    &lg_m Y    &lg_m U    &lg_m I    &lg_m O    &lg_m P    &trans
&trans    &lg_m A    &lg_m S    &lg_m D    &lg_m F    &lg_m G    &lg_m H    &lg_m J    &lg_m K    &lg_m L    &trans     &trans
&trans    &lg_m Z    &lg_m X    &lg_m C    &lg_m V    &trans     &lg_m B    &lg_m N    &lg_m M    &trans     &trans     &trans
&trans    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
            >;
        };

        onehand_layer {
            display-name = "onehand";
            bindings = <
&trans    &trans    &trans    &trans    &trans    &trans    &kp ESC   &kp Q     &kp W     &kp E     &kp R     &kp T
&trans    &trans    &trans    &trans    &trans    &trans    &kp TAB   &kp A     &kp S     &kp D     &kp F     &kp G
&trans    &trans    &trans    &trans    &trans    &trans    &sk LSHFT &kp Z     &kp X     &kp C     &kp V     &sk LWIN
&trans    &trans    &trans    &trans    &trans    &trans    &sk LCTRL &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &trans
            >;
        };
    };
};
